@import "mixins";
@import "vars";
@import "vendor/reset";

html {
    font-size: 62.5%;
}

body {
    background-color: #282828;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: $primary;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a  {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.801)
    }
}


/* Blocks */
@import "blocks/nav";
@import "blocks/header-main";
@import "blocks/btn";
@import "blocks/wine";
@import "blocks/title";
@import "blocks/collection";
@import "blocks/recording";
@import "blocks/form";
@import "blocks/footer";


