
.btn {
    text-transform: uppercase;
    padding: 15px 30px;
    background-color: #99862A;
    a {
        color: $primary;
        font-family: 'Montserrat', sans-serif;    
        font-size: 16px;
        letter-spacing: 5%;
        font-weight: 500;
    }
    &:hover {
        background-color: #b19922;
    }
    &--long {
        width: 538px;
        background-color: transparent;
        border: 1px solid #fff;
        color: $primary;
        font-size: 16px;
        font-weight: 500;
        &:hover {
            background-color: #fff;
            color: $secondary;
        }
        @include breakpoint($m-bp) {
            width: 448px;
        }
        @include breakpoint($sm-bp) {
            width: 250px;
        }
    }
    @include breakpoint($m-bp) {
        margin-bottom: 10px;
    }
}