.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.input {
    display: inline-block;
    width: 253px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
    padding-bottom: 10px;
    @include breakpoint($m-bp) {
        width: 210px;
    }
    @include breakpoint($sm-bp) {
        width: 250px;
    }
    
    &:first-child{
        margin-right: 28px;
        @include breakpoint($sm-bp) {
            margin-right: 0px;
        }
    }
    &--long{
        width: 538px;
        @include breakpoint($m-bp) {
            width: 448px;
        }
        @include breakpoint($sm-bp) {
            width: 250px;
        }
    }
    &::placeholder {
        color: $primary;
    }
}