.header-main__inner {
    display: flex;
    width: 415px;
    justify-content: space-between;
    margin-top: 700px;
    @include breakpoint($m-bp) {
        flex-direction: column;
        padding: 0 15px;
    }
}
.header-main {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    margin-top: -117px;
    width: 100%;
    height: auto;
    background: url(dist/assets/images/header_bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include breakpoint($m-bp) {
        margin-bottom: 10px;
    }

}