.header-main__inner {
    display: flex;
    width: 415px;
    justify-content: space-between;
    margin-top: 700px;
}
.header-main {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    margin-top: -117px;
    width: 100%;
    height: auto;
    background-size: 100%;
    background-position: center;
    background: url(/assets/images/header_bg.svg);

}