.header {
    padding-top: 30px;
}
.header__inner {
    display: flex;
    flex-direction: column;
}
.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 13px;
    @include breakpoint($sm-bp) {
        font-size: 11px;
    }
}
.header-nav {
    display: flex;
    justify-content: space-around;
    height: 46px;
    align-items: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    @include breakpoint($sm-bp) {
        margin-top: 0px;
    }

}

.nav__link {
    color: #fff;
    position: relative;
    padding: 0 107px;
    @include breakpoint($l12-bp) {
        padding: 0px 50px;
    }
    @include breakpoint($tablet-bp) {
        padding: 0px 0px;
    }
    &::after {
        display: block;
        width: 100%;
        /*какую высоту выставим, такого размера и будет бордер*/
        height: 46px;
        content: "";
        border-right: 1px solid rgb(255, 255, 255);
        position: absolute;
        top: -13px;
        left: 0;
        @include breakpoint($l12-bp) {
            left: 25px;
        }
        @include breakpoint($tablet-bp) {
            left: 50px;
        }
        @include breakpoint($sm-bp) {
            display: none;
        }
    }
    
    &:last-child::after{
        display: none;
    }

}