.recording {
    position: relative;
    background-color: #282828;
    padding: 100px 0;
}
.recording__inner {
    margin-top: -200px;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    border-right: 1px solid $primary;
    border-left: 1px solid $primary;
    padding: 0 295px 90px;
    text-align: center;
    @include breakpoint($large-bp) {
        margin-top: 0px;
    }
    @include breakpoint($l12-bp) {
        padding: 0 205px 90px;
    }
    @include breakpoint($tablet-bp) {
        padding: 0 75px 90px;
    }
    @include breakpoint($m-bp) {
        padding: 0 25px 90px;
    }
    @include breakpoint($sm-bp) {
        padding: 0 30px 90px;
    }
}
.recording-icon {
    display: flex;
    justify-content: space-between;
    img {
        width: 260px;
        margin-left: -50px;
        height: auto;
        &:last-child {
            margin-left: 720px;
            height: 200px;
        }
        @include breakpoint($large-bp) {
            display: none;
        }

    }
}
