.wine {
    padding: 100px 0;
}

.wine__inner {
    border: 1px solid #fff;
    padding: 60px 186px;
    text-align: center;


}

.wine__img {
    width: 160px;
    height: 160px;
    margin: 0 auto;
}