<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer-nav">
                <a href="" class="footer__link">Главная</a>
                <a href="" class="footer__link">Каталог</a>
                <a href="" class="footer__link">Поставщики</a>
                <a href="" class="footer__link">Коллекции</a>
                <a href="" class="footer__link">Дегустация</a>
                <a href="" class="footer__link">Коллекция 2020</a>
                <a href="" class="footer__link">Контакты</a>
            </div>
            <div class="footer-contact">
                <a href="" class="footer__link footer__link--contact">винный бутик LE CORTE</a>
                <a href="" class="footer__link footer__link--contact">8 (812) 123-45-67</a>
                <div class="footer__link footer__link--contact footer__link--icon">
                    <div class="footer__icon">
                        <a href=""><img src="/assets/images/social-1.svg" alt=""></a>
                    </div>
                    <div class="footer__icon">
                        <a href=""><img src="/assets/images/social-2.svg" alt=""></a>
                    </div>
                    <div class="footer__icon">
                        <a href=""><img src="/assets/images/social-3.svg" alt=""></a>
                    </div>
                </div>
                <a href="" class="footer__link footer__link--contact">© le-corte.ru</a>
            </div>
        </div>
    </div>
</footer>
