<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header-top">
                <address class="address"> Новокузнечный переулок 4/1</address>
                <div class="header-top__number"> 8 (812) 123-45-67</div>
            </div>
            <nav class="header-nav">
                <a href="" target="_blank" class="nav__link"> Каталог  </a>
                <a href="" target="_blank" class="nav__link"> Доставка  </a>
                <a href="" target="_blank" class="nav__link"> Коллекции  </a>
                <a href="" target="_blank" class="nav__link"> Контакты  </a>
            </nav>
        </div>
    </div>
</header>
